@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.active:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: rgba(249, 250, 251, 0.737); 
}
